.buttonWrapper {
  z-index: 1;
  width: fit-content;
  height: 110px;
  margin-top: 1rem;
}

.buttonWrapper:hover {
  transform: translateY(8px);
}

.buttonWrapper:hover .button::after {
  top: 0px;
}

.button {
  background-color: #f6cbce;
  border-color: #f65563;
  position: relative;
  border-style: solid;
  cursor: pointer;

  width: 200px;
  height: 90px;
  border-radius: 10px;
  border-width: 6px;
  font-weight: normal;
}

.button::after {
  content: '';
  display: block;
  width: 200px;
  height: 90px;
  border-radius: 10px;
  background-color: var(--wcs-pink);
  z-index: -1;
  position: absolute;
  left: -6px;
  top: 8px;
}

.button::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 12%;
  width: 20%;
  height: 100%;
  transform: skewX(-30deg);
  transition: 0.3s;
}

.button:hover::before {
  left: 65%;
}

@media screen and (max-width: 768px) {
  .button {
    width: 170px;
    height: 80px;
    border-width: 4px;
    border-radius: 10px;
  }

  .button h2 {
    font-size: 24px;
  }

  .button::after {
    width: 170px;
    height: 80px;
    border-radius: 10px;
    left: -4px;
    top: 6px;
  }
}
