.container {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: hidden;
  width: fit-content;
}

.topbar {
  height: 2rem;
  position: relative;
  width: 100%;
  /*not sure why this doesn't work */
  background-color: var(--wcs-pink);
}
