.topbarButtons {
  border-radius: 100%;
  height: 0.5rem;
  top: 0.75rem;
  width: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: hidden;
  width: 100%; /* Allow it to expand fully */
  max-width: 1200px; /* Adjust based on your layout */
  margin: 0 auto;
}

.topbar {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5rem;
  position: relative;
  width: 100%;
}

.buttonList {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.topbarGreenButton {
  background-color: lime;
  left: 2.5rem;
}

.topbarRedButton {
  background-color: red;
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  border-radius: 50%;
  left: 0.5rem;
  cursor: pointer;
}

.topbarYellowButton {
  background-color: yellow;
  left: 1.5rem;
}
