.popupContainer {
  width: 95%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.popupBox {
  background: url('/assets/img/events/BinaryForCurrentEvents.png') center/cover no-repeat;

  padding: 1.5rem 2rem;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}

/* LEFT CONTENT */
.leftContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  min-width: 200px;
  align-items: flex-start;
}

/* Titles */
.happeningNowTitle {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1px;
}

.eventName {
  margin: 0;
  font-size: 4rem;
  font-weight: 500;
  color: #ffffff;
}

.dateRange {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  opacity: 1;
  letter-spacing: 0.8px;
}

/* BUTTONS */
.buttonGroup {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 3rem;
}

.learnMoreBtn,
.registerBtn {
  padding: 0.9rem 3rem;
  background-color: #f3c1c1;
  color: #030000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.learnMoreBtn:hover,
.registerBtn:hover {
  background-color: #e6a8a8;
}

.registerLinkWrapper {
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .popupBox {
    flex-direction: column;
    align-items: center;
  }

  .leftContent {
    align-items: center;
    text-align: center;
  }

  .buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  .learnMoreBtn,
  .registerBtn {
    width: 60%;
    max-width: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
  }

  .registerLinkWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}