.wrapper {
  cursor: auto;
}

.window {
  border: 1px solid #e5e7eb;
}
.wrapperCanClick {
  cursor: pointer;
  position: relative;
}

.wrapperCanClick::after {
  content: '';
  width: 22px;
  height: 22px;
  background-image: url('/assets/design-vectors/pointer.svg');
  position: absolute;
  right: -0.125rem;
  bottom: -0.125rem;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  margin: 1rem;
  min-width: fit-content;
  aspect-ratio: 1.5;
  color: #21636c;
}

.eventButton {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
  max-width: 200px;
}

.eventButton p {
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
