.kscontainer {
  background: rgba(255, 255, 255, 0.3);
  width: 350px;
  height: 450px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: 1rem;
  cursor: pointer;
  border: none;
}

.ksimg {
  border: 6px solid #65c7cc;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.ksname {
  color: #21636c;
  background-color: transparent;
  border: none;
  background: none;
  text-align: center;
  font-family: 'Audiowide' !important;
  font-weight: 400;
  font-size: 40px;
}

.ksfunfact {
  color: black;
  opacity: 0.7;
}
