.sjHeader {
  font-size: 40px;
  color: #212121;
  margin-bottom: 24px;
}

.sjSection {
  background-color: #f5f6f8b8;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
  box-shadow: 8px 8px 30px #3d3d3d33;
}

.sjFunFact {
  font-size: 20px;
  color: #424c67;
  font-weight: bold;
  margin: 8px;
}

.sjImg {
  border-radius: 50px;
  height: 220px;
  width: 220px;
  object-fit: cover;
  margin-bottom: 10px;
  opacity: 95%;
  box-shadow: 4px 4px 36px #8c9cae9c;
  transition: 0.1s;
}

.sjPressMe {
  visibility: hidden;
  opacity: 0;
  color: #424c67;
  font-weight: normal;
  font-size: 14px;
}

.sjImg:hover {
  opacity: 100%;
  cursor: pointer;
  box-shadow: 4px 4px 36px #8c9cae;
}

.sjSection:hover .sjPressMe {
  visibility: visible;
  opacity: 1;
}

.sjButton {
  border: none;
  padding: 0px;
  margin: 0px;
  background: none;
}
