.keyTop {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.keyTop::before {
  content: '';
  background-color: var(--light-pink);
  width: calc(100% - 10px);
  height: 6px;
  position: absolute;
  top: 5px;
  left: 5px;
  transform: skew(-59deg);
  border-left: black solid 1px;
  border-right: black solid 1px;
  border-top: black solid 1px;
}

.keyRight {
  padding-top: 6px;
  padding-bottom: 10px;
  position: relative;
}

.keyRight::before {
  content: '';
  position: absolute;
  right: 0;
  top: 5px;
  width: 0;
  height: calc(100% - 15px);
  border-right: 10px solid var(--light-pink);
  border-top: 6px solid transparent;
  border-bottom: 10px solid transparent;
}

.keyRight::after {
  content: '';
  position: absolute;
  right: 0;
  top: 5px;
  width: 0;
  height: calc(100% - 15px);
  border-right: 1px solid black;
}

.keyBottom::before {
  content: '';
  background-color: var(--light-pink);
  width: calc(100% - 10px);
  height: 10px;
  position: absolute;
  bottom: 10px;
  left: 5px;
  transform: skew(45deg);
  border-left: black solid 1px;
  border-right: black solid 1px;
  border-bottom: black solid 1px;
}

.keyBody {
  margin: 5px 10px 10px 0;
  padding: 1rem;
  background-color: var(--light-pink);
  color: #734448;
  overflow: hidden;
  border: black solid 1px;
}

.keyTop:hover::before {
  background-color: var(--wcs-pink);
}

.keyTop:hover .keyRight::before {
  border-right: 10px solid var(--wcs-pink);
}

.keyTop:hover .keyBottom::before {
  background-color: var(--wcs-pink);
}

.keyTop:hover .keyBody {
  background-color: var(--wcs-pink);
  color: #ffe3f2;
}

.keyTop:active::before {
  left: 6px;
  top: 5px;
  height: 8px;
  transform: skew(-32deg) scaleX(101%);
}

.keyTop:active .keyRight::before {
  top: 4px;
  height: calc(100% - 13px);
  border-top: 16px solid transparent;
  border-bottom: 19px solid transparent;
}

.keyTop:active .keyBottom::before {
  left: 6px;
  transform: skew(26deg) scaleX(101%);
}

.keyTop:active .keyBody {
  transform: translate(4px, 1px) scaleX(101%);
}

.content {
  text-align: center;
  font-size: 48px;
  font-weight: normal;
  color: inherit;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

.content h4 {
  font-size: 24px;
  font-weight: normal;
}

.keyLeft:active .content {
  transform: translate(8px, 3px);
}
