

.container {
  width: 100svw;
  height: 100svh;
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(10, 10, 10, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  max-width: 80svw;
  background-color: white;
  overflow: hidden;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: blue;

}


.officerInfo {
  display: flex;
  flex-direction: row;
  max-height: 85svh; 
  overflow-y: auto; 
  border-right: solid 2px var(--light-pink); 
  height: 100%;
}

.left {
  flex: 1;
  max-width: 30%;
  background-color: var(--light-light-pink);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--light-pink);
}

.right {
  flex: 1;
  max-width: 70%;
  background-color: white;
  padding: 2rem;
  text-align: left;
  overflow-y: auto;
}


.list {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.closeButtonContainer {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.closeButton {
  width: 50%;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  color: #21636c;
  background-color: var(--light-pink);
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 767px) {
  .officerInfo .left,
  .officerInfo .right {
    width: 100%;
  }
}

.photoContainer {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.photo {
  border-radius: 100%;
  object-fit: cover;
  max-width: 100%;
  width: 250px;
  height: 250px;
  border: 6px solid #65c7cc;
  border-radius: 100%;
}

.socials {
  height: 100px;
  width: 100px;
  margin: 4%;
  object-fit: cover;
  max-width: 100%;
  float: center;
}

.icons {
  display: flex;
  justify-content: center;
}

.email {
  padding-right: 1rem;
}
.linkedin {
  padding-left: 1rem;
}