.container {
  /* background: #ffcee7; */
  background: rgba(255, 255, 255, 0.3);
  width: 350px;
  height: 450px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: 1rem;
  cursor: pointer;
  border: none;
}

.img {
  border: 6px solid #65c7cc;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.name {
  color: #21636c;
  text-align: center;
}

.position {
  color: black;
  opacity: 0.7;
}
