.container {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #666666;
}

.input {
  width: 100%;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: white;
  padding: 12px 18px;
  border-radius: 20px;
  border: none;
  color: #666666;
  outline: none;
}

.input:focus {
  outline: 2px solid #f38c93;
}
