.speechBubbleContainer {
  position: relative;
  display: inline-block;
  max-width: 80%;
  margin: 10px 0;
  align-self: flex-end;
}

.speechBubbleText {
  background-color: #efa9ae;
  color: #000;
  padding: 12px 16px;
  border-radius: 18px 18px 0 18px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
  max-width: 100%;
}

.speechBubbleTail {
  position: absolute;
  right: 0px;
  bottom: -15px;
  width: 20px;
  height: 15px;
  background-color: #efa9ae;
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}
