.accordianContainer {
  width: 100%;
  margin: 15px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  background: transparent;
}

.accordionContainer {
  width: 100%;
  margin: 15px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  background: transparent;
}

.questionBar {
  width: 100%;
  background-color: #e2626a;
  padding: 16px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.questionText {
  margin-left: 20px;
  align-content: left;
  font-size: 18px;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
}

.expandIcon {
  width: 14px;
  height: 14px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  margin-right: 10px;
  margin-top: 3px;
  transform: rotate(-45deg); /* right arrow */
  transition: transform 0.3s ease;
}

.expandIcon.open {
  transform: rotate(45deg); /* down arrow */
  margin-bottom: 10px;
}

.accordianContent {
  background-color: transparent;
  padding: 0 20px;
  transition: all 0.3s ease;
  border-radius: 0 0 12px 12px;
  display: block;
}

.accordionContent {
  background-color: transparent;
  padding: 0 20px;
  transition: all 0.3s ease;
  border-radius: 0 0 12px 12px;
  display: block;
}
