.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.slidesFrame {
  width: 960px;
  height: 569px;
}

.closeButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.closeButton {
  width: 50%;
  max-width: 300px;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  color: black;
  background-color: var(--light-pink);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #f65563;
}
