.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 8rem;
  border-radius: 1rem;
  background-color: #ffffff;
  position: relative;
  margin: 1rem;
  z-index: 3;
  cursor: pointer;
  border: 4px solid var(--wcs-pink);
}

.container::before {
  content: '';
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0.25rem; 
  z-index: 4;
  width: 0.25rem; 
  height: 2rem; 
  background-color: var(--wcs-pink);  
}

.container::after {
  content: '';
  position: absolute;
  right: -1rem;
  top: -1rem;
  z-index: 2;
  border-radius: 50%;
  width: 1.5rem; 
  height: 1.5rem;
}

.image {
  max-width: 13rem; 
  max-height: 8rem;
  position: absolute;
  object-fit: contain;
  z-index: 1;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gold::after {
  background-color: hsl(35, 84%, 62%);
}

.bronze::after {
  background-color: #A91C04;
}
