.container {
  color: black;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container * {
  padding: 0;
  margin: 0;
}

.wrapper {
  cursor: auto;
}

.wrapperCanClick {
  cursor: pointer;
  position: relative;
}

.wrapperCanClick::after {
  content: '';
  width: 22px;
  height: 22px;
  background-image: url('/assets/design-vectors/pointer.svg');
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.title {
  max-width: 250px;
}

.dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}

.dateTime p {
  font-weight: 400;
  color: #21636c;
}

.hiddenButton {
  border: none;
  background-color: transparent;
}
