#about {
	padding: 5%;
    background-color: $offwhite;

	p {
		@include pfontspecial();
	}
}

.about-container {
    display: flex;
    align-items: center;
}

.about-header {
	margin-bottom: 5%;
}

.about-subheading {
    text-align: left;
	margin-bottom: 2%;
}

.about-image {
    width: 75%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1169px) {
	.about-image-container {
        display: none;
    }
    .about-header {
        text-align: center;
	    margin-bottom: 5%;
    }
}