#about {
	h1 {
		color: $maroon;
	}
	p {
		@include pfontspecial();
		margin-bottom: 10%;
	}
}

.about-header {
	margin-bottom: 10%;
	text-align: center;
}

@media (max-width: 768px) {
	.padded {
		padding: 2.5% 6% 5% 6%;
	}
}

.about-subheading {
	text-align: center;
	margin-bottom: 3%;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
