#about {
    background-color: $offwhite;
}

.quickLinks {
    margin-bottom: 2%;
    margin-top: 3%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    text-align: center;
    vertical-align: center;
    min-height: 5vh !important;

    p {
        font-weight: 900;
        color: black;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2rem;
        transform: translate(-50%, -50%);
    }
}

.about-image {
    max-width: 100%;
    max-height: 500px;
    display: flex;
    margin: 0 auto;
}

@media (max-width: 1169px) {
	.about-image-container {
        display: flex;
    }
    .about-header {
        text-align: center;
	    margin-bottom: 5%;
    }
}
