#contact {
	color: $primaryColor;
	background-color: $offwhite;

	.form-control {
		font-family: $paragraphfont;
	}

	.label {
		font-family: $paragraphfont;
	}

	.btn-primary {
		background-color: $primaryColor;
		border-color: $primaryColor;
		color: $white;
		&:hover {
			background-color: $primaryColor;
			color: $offwhite;
		}
	}

	.contact-form {
		padding-top: 5%;
	}

	@media (max-width: 749px) {
		padding: 5%;
	}

}
