#home {
    padding: 5% 0 5% 0;
    background: url('../img/wcs/officers.jpg') no-repeat center center;

    .home-header-container {
        width: 100%;
        padding: 2%;
        text-align: center;

        .home-header {
            font-size: 10em;
            color: white;
        }

        .home-subheader {
            margin: 5px;
            color: white;
        }
    }
}

@media only screen and (max-width : 1200px) {
    #home {
        padding: 15% 0 5% 0;
        text-align: center;

        .home-image-container {
            width: 100%;
        }

        .home-header-container {
            width: 100%;

            .home-subheader {
                margin: 5px;
                color: white;
            }
        }
    }
}

.about-image {
    display: block;
    max-width: 100%;
    max-height: 500px;
    margin: 0 auto;
}

.memberImage {
    margin-bottom: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    text-align: center;
    vertical-align: center;
    min-height: 10vh !important;

    p {
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2rem;
        transform: translate(-50%, -50%);
    }
}

.quickLinks {
    margin-bottom: 2%;
    margin-top: 3%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    text-align: center;
    vertical-align: center;
    min-height: 5vh !important;

    p {
        font-weight: 900;
        color: black;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2rem;
        transform: translate(-50%, -50%);
    }
}


#members {
  padding: 2%;
    h1 {
      color: $primaryColor;
      margin-bottom: 3%;
    }

	p {
		@include pfontspecial();
		margin-bottom: 10%;
	}

    .btnContainer {
        margin-bottom: 10px;
        @extend .center;
    }

    padding: 5%;
}
