.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
  .item {
    opacity: 0.6;
    transition-property: opacity;
    width: 100% !important;
    min-height: 100% !important;
    overflow: hidden;
    height: 100%;
    img {
      position: relative;
      overflow: hidden;
      height: 100%;
    }
  }

  .active {
    opacity: 0.75;
    height: 100%;
  }
}

.container {
  text-align: center;
  overflow: hidden;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 100;
  top: calc(50% - 1.5em);
  width: 100%;
  @extend .center;
}

#home {
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
  height: 1000px;
  h1 {
    color: $white;
  }
}

#officerCarousel {
  background-image: url(../img/slideshow/allofficers.jpg);
}

#chictechCarousel {
  background-image: url(../img/slideshow/chictech.jpg);
}

#banquetCarousel {
  background-image: url(../img/slideshow/banquet.jpg);
}

#splashCarousel {
  background-image: url(../img/slideshow/splash.jpg);
}

#banquet2Carousel {
  background-image: url(../img/slideshow/banquet2.jpg);
}