.container {
  text-align: center;
  overflow: hidden;
}

.memberImage {
    margin-bottom: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    text-align: center;
    vertical-align: center;
    min-height: 10vh !important;

    p {
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2rem;
        transform: translate(-50%, -50%);
    }
}
