html {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: $paragraphfont;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: $headerfont;
    font-weight: 500;
    color: $primaryColor;
}

h2 {
    font-family: $headerfont;
    font-weight: 400;
    color: $primaryColor;
}

h3 {
    font-family: $headerfont;
    font-weight: 300;
    color: $primaryColor;
}

h4 {
    font-family: $headerfont;
    color: $primaryColor;
}

h5 {
    font-family: $headerfont;
    font-size: 1em;
    color: $primaryColor;
}

h6 {
    font-family: $headerfont;
    color: black;
}

p {
    font-family: $paragraphfont;
}

a {
    color: $primaryColor;
    &:hover {
        color: $white;
    }
}

#socialMediaLinks {
  display: block;
  padding-left: 0px;

  li {
  	display: inline;
  	margin: 10px;
  }
}
