@mixin gradientBackground($url) {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url($url);
}

#members {
    h1 {
      color: $maroon;
      margin-bottom: 3%;
    }

	p {
		@include pfontspecial();
		margin-bottom: 10%;
	}

    .btnContainer {
        margin-bottom: 10px;
        @extend .center;
    }

    padding: 5%;
}

.memberImage {
  margin-bottom: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  text-align: center;
  vertical-align: center;
  min-height: 20vh !important;

  p {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }
}

#events {
  margin-top: 50px;
  iframe {
    width: 100%;
  }
}

.member-map {
    height: 400px;
    width: 100%;
}

.member-links {
    padding-top: 2%;
    list-style-type: none;
    text-align: center;
}

.member-links > li {
    display:inline;
}

.member-button {
  font-size: large;
}

.member-subheaders {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.btn {
    font-weight: bold;
}

#techTeam {
  background-image: url('../img/members/techteam.jpg');
  @include gradientBackground('../img/members/techteam.jpg');
}

#mentoring {
  background-image: url('../img/members/mentoring.jpg');
  @include gradientBackground('../img/members/mentoring.jpg');
}

#outreach {
  background-image: url('../img/members/outreach.jpg');
  @include gradientBackground('../img/members/outreach.jpg');
}
