
.nav {
	font-family: $paragraphfont;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-brand {
	padding: 5px;
	img {
  		height: 100%;
		width: auto;
	}
}

.navbar {
	.container-fluid {
  		padding: 0 10% 0 10%;
	}
	background-color: white;
}
