.navbar-brand {
	img {
  		height: 35px;
  		padding: 0px;
  		margin: -12px;
	}
}

.navbar {
	.container-fluid {
  		padding: 0 10% 0 10%;
	}
	background-color: white;
}

.nav {
	font-family: $paragraphfont;
	text-transform: uppercase;
}

@media (min-width:767px) {
	.mainNav {
		padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.top-nav-collapse {
		padding: 0;
	}
}
