#officers {
    h1 {
        color: $maroon;
        margin-bottom: 5%;
    }

    padding: 0 20%;
}

.officerPicture {
  width: 100%;
  height: auto;
}

.officer-box {
    border: 0;
    cursor: pointer;
}
