#officers {
    h1 {
        color: $primaryColor;
        margin-bottom: 5%;
    }
    padding: 5% 5%;
    @media (max-width: 749px) {
        padding: 10% 5%;
    }
    background-color: $offwhite;
}

.officerPicture {
    width: 300px;
    height: 500px;
}

.officer-box {
    border: 0;
    cursor: pointer;
}