#officers {
    h1 {
        color: $primaryColor;
        margin-bottom: 5%;
    }

    padding: 5% 5%;
    @media (max-width: 749px) {
        padding: 10% 5%;
    }

    background-color: $offwhite;
}

.officerPicture {
  width: 100%;
  height: auto;
}

.officer-box {
    border: 0;
    cursor: pointer;
}
