#outreachMain {
    display: block;
    padding: 5% 5%;
    color: $primaryColor;
	
	.outreach-title {
		padding-bottom: 2%;
		text-align: center;
	}

	.outreach-events {
		color: black;
	}

	@media (max-width: 749px) {
		padding: 10%;
	}
}