#outreachMain {
	background-image: url('../img/wcs/chictech.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	width: 100% !important;
	height: 100vh !important;
	min-height: 100vh !important;
	min-width: 100% !important;
	opacity: 0.75;
	h1 {
		color: $white;
	}
}

.panel {
	border: none;
	.panel-heading {
		border: none;
		background-color: $white;
		border-color: $white;
	}
}
