#sponsors {
    display: block;
    padding: 5% 5%;
    color: $maroon;

    ul {
        padding: 0;
        list-style-type: none;
    }

    img {
       width: 100%;
       max-width: 100%;
       object-fit: contain;
       max-height: 200px;
    }
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  padding: 1em;
  width: 100%;
  margin-top: 5%;
}

@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}

@media all and (min-width: 60em) {
  .list-item {
    width: 20%;
    padding: 2%;
  }
}

@media all and (max-width: 40em) {
  .list-item {
    width: 50%;
  }
}
