.sponsors-row {
  	padding-bottom: 2%;
  	.sponsor-small{
	  	vertical-align: center;
	  	width: 100%;
	}
	#rockwell {
		padding-top: 15px;
	}
}

#sponsors {
	color: $maroon;
	p {
		@include pfontspecial();
	}
	a {
		color: $black;
	}
}