$default-border-radius : 10px;

$headerfont: 'Lobster', cursive !important;
$paragraphfont: 'Open Sans', sans-serif;

$white: #fff;
$offwhite: rgb(245, 243, 238);
$offblack: rgb(51, 51, 51);
$maroon: rgb(125, 25, 53);
$black: #000;
$gray: #555;
$darkgray: #999;