$default-border-radius : 10px;

$headerfont: 'Oswald' !important;
$paragraphfont: 'Mallanna', sans-serif;

$primaryColor: rgb(232,76,61);
$secondaryColor: rgb(53,152,220);

$white: #fff;
$offwhite: rgb(245, 243, 238);
$offblack: rgb(51, 51, 51);
$honey-flower: rgb(103, 65, 114);
$black: #000;
$gray: #555;
$darkgray: #999;
