.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70em;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    width: 45em;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    width: 20em;
  }
}
