.main {
  padding: 3rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.desktop {
  display: block;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    align-items: center;
  }
}

.openOfficeHeader {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

.openOfficeWeekIndication {
  color: rgb(127, 97, 97);
}

.openOfficeWeekButtonWrapper {
  z-index: 1;
  width: fit-content;
  height: 110px;
  margin-top: 1rem;
}

.openOfficeWeekButtonWrapper:hover {
  transform: translateY(8px);
}

.openOfficeWeekButtonWrapper:hover .openOfficeWeekButton::after {
  top: 0px;
}

.openOfficeWeekButton {
  background-color: #f6cbce;
  border-color: #f65563;
  position: relative;
  border-style: solid;
  cursor: pointer;

  width: 200px;
  height: 90px;
  border-radius: 10px;
  border-width: 6px;
  font-weight: normal;
}

.openOfficeWeekButton::after {
  content: '';
  display: block;
  width: 200px;
  height: 90px;
  border-radius: 10px;
  background-color: var(--wcs-pink);
  z-index: -1;
  position: absolute;
  left: -6px;
  top: 8px;
}

.openOfficeWeekButton::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 12%;
  width: 20%;
  height: 100%;
  transform: skewX(-30deg);
  transition: 0.3s;
}

.openOfficeWeekButton:hover::before {
  left: 65%;
}

@media screen and (max-width: 768px) {
  .openOfficeWeekButton {
    width: 170px;
    height: 80px;
    border-width: 4px;
    border-radius: 10px;
  }

  .openOfficeWeekButton h2 {
    font-size: 24px;
  }

  .openOfficeWeekButton::after {
    width: 170px;
    height: 80px;
    border-radius: 10px;
    left: -4px;
    top: 6px;
  }
}

.tableContainer {
  overflow-x: auto;
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.table {
  margin: auto;
}

.table tr td:first-child {
  border-left: none;
}

.table tr td:last-child {
  border-right: none;
}

.tr .th:last-child {
  border-right: none;
}

.table tr:last-child td {
  border-bottom: none;
}

.th {
  border: 1px solid white;
  border-top: none;
  text-align: center;
  position: relative;
}

.tr {
  text-align: center;
  position: relative;
}

.td {
  width: fit-content;
  text-align: center;
  position: relative;
  border: 1px solid white;
}

.chevronLeft {
  transform: rotate(180deg);
  margin-left: 40px;
}

.chevronRight {
  margin-left: 40px;
}

.hiddenChevronButton {
  border: none;
  background: transparent;
}

.openOfficeTimes {
  background-color: var(--light-light-pink);
  font-size: small;
  height: fit-content;
  padding: 0% 2%;
}

.openOfficeDay {
  background-color: var(--wcs-pink);
  padding: 1%;
}

.openOfficeDay p {
  color: white;
  font-size: 26px;
  font-weight: normal;
}

#openOfficeSpace {
  border-left: none;
}

.openOfficeCellContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.openOfficeCell {
  text-align: center;
  background-color: #f6cbce;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}

.openOfficeHighlight {
  text-decoration: underline;
  font-size: 15px;
  font-weight: normal;
}

.openOfficeName p {
  font-size: 15px;
}

.space {
  background-color: var(--wcs-pink);
}

.title h2 {
  margin: 1rem 5rem;
}

.title {
  width: 80%;
  text-align: center;
  margin-bottom: 2rem;
}

/* styles.css file */
