.main {
  padding: 3rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.desktop {
  display: block;
  width: 80%;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    align-items: center;
  }
}

.openOfficeHeader {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

.openOfficeWeekIndication {
  color: rgb(127, 97, 97);
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.table {
  margin: auto;
  table-layout: auto;
  width: 100%;
}

.table tr td:first-child {
  border-left: none;
}

.table tr td:last-child {
  border-right: none;
}

.tr .th:last-child {
  border-right: none;
}

.table tr:last-child td {
  border-bottom: none;
}

.th {
  border: 1px solid white;
  border-top: none;
}

.tr {
  text-align: center;
  position: relative;
}

.td {
  text-align: center;
  position: relative;
  border: 1px solid white;
}

.chevronLeft {
  transform: rotate(180deg);
  margin: auto;
}

.chevronRight {
  margin: auto;
}

.chevronRight:hover {
  transform: scale(1.2);
}

.chevronLeft:hover {
  transform: rotate(180deg) scale(1.2);
}

.hiddenChevronButton {
  border: none;
  background: transparent;
}

.openOfficeTimes {
  background-color: var(--light-light-pink);
  font-size: small;
  height: fit-content;
  padding: 0% 2%;
}

.openOfficeDay {
  background-color: var(--wcs-pink);
  padding: 1% 0;
}

.openOfficeDay p {
  color: white;
  font-size: 26px;
  font-weight: normal;
  width: fit-content;
  margin: auto;
}

#openOfficeSpace {
  border-left: none;
}

.openOfficeCellContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.openOfficeCell {
  text-align: center;
  background-color: var(--light-pink);
  padding: 1rem;
  white-space: nowrap;
}

.openOfficeHighlight {
  text-decoration: underline;
  font-size: 18px;
  font-weight: normal;
}

.openOfficeName p {
  font-size: 16px;
}

.space {
  background-color: var(--wcs-pink);
}

.title h2 {
  margin: 1rem 5rem;
}

.title {
  width: 80%;
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .openOfficeDay p {
    font-size: 24px;
  }

  .openOfficeCell p {
    font-size: 14px;
  }

  .openOfficeTimes p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .openOfficeDay p {
    font-size: 18px;
  }

  .openOfficeCell p {
    font-size: 12px;
  }

  .space {
    padding: 1rem;
  }
}

/* styles.css file */
