.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 6rem;
  min-height: 100vh;
}

@media only screen and (max-width: 786px) {
  .main {
    padding: 2rem; /* New padding for mobile view */
  }
}

.logo {
  position: relative;
}

.sectionContainer {
  width: 80svw;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  display: block;
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  border-radius: 25px;
  width: 100%;
  margin: 2rem auto;
}

.descriptionContainer {
  display: flex;
}

.description {
  display: inline;
  padding: 2em 2em;
  text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .communicationLinks {
    display: flex;
    flex-direction: column;
  }

  .sponsorsSection {
    padding: 0.5rem 0.5rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .communicationLinks {
    display: flex;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.window {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.windowContent {
  padding: 1rem;
}

.windowContent h1 {
  margin: 0;
}

.computerWindowContainer {
  align-self: center;
  padding: 0rem;
  margin-top: 0;
  text-align: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: auto;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  width: 100%;
  margin-bottom: 2rem;
}

.panelContainer {
  display: flex;
  gap: 0rem;
  flex-direction: row;
  width: 100%;
}

.leftPanel {
  padding: 1.5rem;
  background-color: var(--light-light-pink);
  width: 60%;
}

.rightPanel {
  padding: 1.5rem;
}

.formContainer {
  width: 640px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.phoneContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 0rem;
  position: relative;
  background-size: cover;
  margin-left: rem;
}

.formWrapper {
  text-align: center;
}

@media only screen and (max-width: 1160px) {
  .phoneContainer {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 2rem;
  }
  .panelContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .computerWindowContainer {
    text-align: center;
    max-width: 100%;
  }

  .diversityStatement {
    max-width: 100%;
  }

  .leftPanel {
    width: 100%;
  }
}
