.window h1 {
  margin: 1rem;
  text-align: center;
}

.window {
  text-align: center;
  margin: 1rem auto 0;
  width: 100%;
}

.descriptionContainer {
  display: flex;
}

.description {
  display: inline;
  padding: 2em;
  text-align: center;
}
