.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  position: relative;
}

.title h2 {
  margin: 1rem;
  font-size: 42px;
  text-align: center;
}

.main .title {
  text-align: center;
  margin: 2rem auto;
  width: 90%;
}

.teamPic {
  background-color: white;
  height: auto;
  max-width: 80%;
  max-height: 411px;
  margin: 3rem auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subHeader h3 {
  margin: 1rem;
  font-weight: 300;
  font-size: 32px;
}

.main .subHeader {
  width: 80%;
  text-align: center;
  margin: 2rem auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  margin-bottom: 7rem;
}

.outerContainer {
  height: 200vh;
  width: 100vw;
  position: relative;
  margin-bottom: 400px;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: sticky;
  top: calc(50vh - 250px);
  gap: 200px;
  height: 500px;
}

.committee {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  width: fit-content;
}

.img {
  border-radius: 20px;
  border: 10px solid var(--wcs-pink);
  height: 450px;
}

.imgContainer {
  max-width: 80%;
  width: auto;
  max-height: 430px;
  height: 500px;
  position: relative;
}

.middleContainer {
  position: relative;
  height: 100%;
}

.imgCaption {
  background-color: var(--light-pink);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;

  border-radius: 20px;
  transform: translate(-30%, 80%);
}

.committeeLeft {
  flex-direction: row;
}

.committeeRight {
  flex-direction: row-reverse;
}

.committeeWindow {
  width: 560px;
  height: 450px;
  overflow: auto;
}

.committeeDescription {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.committeeDescription h4 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.committeeDescription p {
  font-size: 16px;
  line-height: 1.6;
}

.officerPics {
  display: flex;
  gap: 1vw;
}

.outerContainer:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .committeeDescription h4 {
    font-size: 20px;
  }

  .committeeDescription p {
    font-size: 14px;
  }

  .committee {
    width: 780px;
  }
}

@media (max-width: 780px) {
  .cards {
    gap: 1rem;
  }

  .img {
    position: relative;
    animation: none;
    transform: none;
    opacity: 1;
    width: 100%;
    height: auto;

    border: 5px solid var(--wcs-pink);
    margin: auto;
    padding: 0;
    top: 0;
  }

  .committee {
    position: relative;
    animation: none;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    top: 0;
    gap: 2rem;
    width: 100%;
    height: fit-content;
  }

  .innerContainer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: fit-content;
    top: 0;
  }

  .middleContainer {
    height: fit-content;
    width: 100%;
  }

  .outerContainer {
    height: fit-content;
    width: 100%;
    margin-bottom: 10vw;
    position: relative;
  }

  .committeeDescription {
    min-height: 0;
    padding: 1rem;
  }
  .committee .committeeWindow {
    flex: none;
    max-width: 80%;
  }

  .officerPics {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    max-height: none;
  }

  .imgCaption {
    position: relative;
    padding: 0.8rem;
    border-radius: 10px;
    margin: auto;
    width: fit-content;
    transform: none;
  }
}
