.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.title h2 {
  margin: 1rem;
  font-size: 42px;
  text-align: center;
}

.main .title {
  text-align: center;
  margin: 2rem auto;
  width: 90%;
}

.teamPic {
  background-color: white;
  height: 411px;
  width: 50%;
  margin: 4rem auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subHeader h3 {
  margin: 1rem;
  font-weight: 300;
  font-size: 32px;
}

.main .subHeader {
  width: 80%;
  text-align: center;
  margin: 2rem auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  margin-bottom: 7rem;
}

.committeeInnerContainer {
  height: 250vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 400px;
  view-timeline: --inner;
  width: 200%;
  margin-left: -110%;

  /* background-color: red; */
  /* width: 100vw; */
  /* overflow-x: hidden; */
}

@keyframes slideOut {
  0% {
    /* transform: translateX(0%); */
    /* opacity: 1; */
    margin-left: 0%;
    margin-right: 0%;
  }

  50% {
    display: flex;
  }
  70% {
    display: none;
  }
  100% {
    /* transform: translateX(100%); */
    /* opacity: 0; */
    display: none;
    margin-left: 100%;
    margin-right: -100%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    display: none;
    /* margin-left: -100%; */
  }

  70% {
    transform: translateX(-100%);
    display: none;
    /* margin-left: -100%; */
  }
  85% {
    transform: translateX(-50%);
    /* margin-left: -50%; */
    /* display: none; */
  }
  100% {
    transform: translateX(0%);
    /* margin-left: 0; */
  }
}

.committee {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  gap: 2rem;
  top: calc(50% - 30vh);
  /* width: fit-content; */
  /* flex: 0; */
  width: 80vw !important;
  /* transform: translateX(50%); */

  /* animation-name: slideOut;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timeline: --inner;
  animation-range: entry 100% exit 0%; */
}

.img {
  position: sticky;
  top: calc(50% - 30vh);
  max-width: 80%;
  height: auto;
  max-height: 430px;
  border-radius: 20px;
  border: 10px solid var(--wcs-pink);
  /* margin-left: 100%; */
  /* margin-left: 500%; */
  /* transform: translateX(-100%); */
  /* display: none; */
  /* margin-left: -100%; */
  /* left: 0%; */

  /* animation-name: slideIn;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timeline: --inner;
  animation-range: entry 100% exit 0%; */
}

/* .committee.active {
  animation-name: slideOut;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

.img.active {
  animation-name: slideIn;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-timing-function: ease;
} */

.committeeLeft {
  flex-direction: row;
}

.committeeRight {
  flex-direction: row-reverse;
}

.committeeWindow {
  flex: 1;
  min-width: 40%;
  max-width: 50%;
  overflow: auto;
}

.committeeDescription {
  min-height: 430px;
  padding: 3rem;
}

.committeeDescription h4 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.committeeDescription p {
  font-size: 16px;
  line-height: 1.6;
}

.officerPics {
  display: flex;
  gap: 1rem;
  /* margin: 0 2rem; */
}

@media (max-width: 992px) {
  .committeeDescription {
    padding: 1rem;
    min-height: 380px;
  }

  .committeeDescription h4 {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }

  .committeeDescription p {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  .cards {
    gap: 1rem;
  }

  .img {
    position: relative;
    animation: none;
    transform: none;
    opacity: 1;
    max-width: 85%;
    border: 5px solid var(--wcs-pink);
    margin: 0;
    padding: 0;
    top: 0;
  }

  .committee {
    position: relative;
    animation: none;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    top: 0;
  }

  .committeeInnerContainer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    margin-bottom: 4rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .committeeDescription {
    min-height: 0;
    padding: 1rem;
  }
  .committee .committeeWindow {
    flex: none;
    max-width: 80%;
  }

  .officerPics {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
  }
}
