/* .carousel {
    display: flex;
    justify-content: center;
    
  } */
/* 
.carouselMain {
  display: flex;
  justify-self: center;
  z-index: 10;
}

.carouselBgItems {
  display: flex;
  justify-content: center;
  z-index: 0;
}

.carouselBg {
  padding-top: 60px;
  position: absolute;
} */

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.radio {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}
/* 
.grid {
  position: absolute;
  z-index: -10;
}

.gridBackground {
  display: flex;
  justify-content: center;
} */