.carousel {
    display: flex;
    justify-content: center;
    
  }

.carouselMain {
  display: flex;
  justify-self: center;
  z-index: 10;
}

.carouselBgItems {
  display: flex;
  justify-content: center;
  z-index: 0;
}

.carouselBg {
  padding-top: 60px;
  position: absolute;
}



.grid {
  position: absolute;
  z-index: -1;
}

.gridBackground {
  display: flex;
  justify-content: center;
}
