.container {
    padding-bottom: 5rem;
}

.content {
    display: flex;
    width: 100%;
    align-items: center;
}

.description {
    width: 50%;
    flex: 1;
}

.descriptionLeft {
    font-size: 16px;
    font-weight: 500;
    color: #21636C;
    padding-right: 5%;
}

.descriptionRight {
    font-size: 16px;
    font-weight: 500;
    color: #21636C;
    padding-left: 5%;
}

.nameLeft {
    text-decoration: #21636C underline;
    padding-bottom: 15px;
    padding-top: 2rem;
    text-align: left;
}

.nameRight {
    text-decoration: #21636C underline;
    padding-bottom: 15px;
    padding-top: 2rem;
    text-align: right;
}

.officersLeft {
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    float: left;
    margin-top: 5%;
}

.officersRight {
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    float: right;
    margin-top: 5%;
}

.window {
    flex: 1;
}

.windowImage {
    width: 100%;
}