.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.25rem;
  min-width: fit-content;
  max-width: 14rem;
  color: #21636c;
}

.eventButton {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.eventButton p {
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.eventButton::after {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("/assets/design-vectors/pointer.svg");
  position: absolute;
  right: -0.5rem;
  bottom: -0.5rem;
  pointer-events: none;
}
