.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.25rem;
  width: 14rem;
  color: #21636C;
}

.eventButton {
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 14px;
  color: #21636C;
  position: relative;
}

.eventButton::after {
  content: '';
  width: 22px;
  height: 22px;
  background-image: url("../../assets/design-vectors/pointer.svg");
  position: absolute; 
  right: -0.5rem;
  bottom: -0.5rem;
  pointer-events: none;
}