.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.eventButton {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}