.container {
  width: 100svw;
  height: 100svh;
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(10, 10, 10, 0.6);
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90svw;
  width: max-content;
}

.eventInfo {
  padding: 1rem 5svw 1rem 5svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 85svh;
}

.eventInfo p {
  /* font-weight: 400; */
}

.title {
  margin-bottom: 1rem;
  font-size: 36px;
  font-weight: 700;
  color: #21636c;
}

.location {
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.description {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
}

.closeButton {
  width: 100%;
  height: 3rem;
  border: none;
  color: #21636c;
  background-color: #cbedff;
  font-weight: 700;
  font-size: 16px;
}

.closeButton2 {
  width: 100%;
  height: 3rem;
  border: none;
  color: #21636c;
  background-color: #ffcee7;
  font-weight: 700;
  font-size: 16px;
}