.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 0.5rem;
  width: 20rem;
}

.eventButton {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: black;
  font-weight: bold;
  position: relative;
}

.eventButton::after {
  content: '';
  width: 32px;
  height: 32px;
  background-image: url("../../assets/design-vectors/pointer.svg");
  position: absolute; 
  right: -1rem;
  bottom: -1.25rem;
  pointer-events: none;
}