@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --max-width: 1100px;

  /* WCS Branding Colors */
  --wcs-pink: #e2626a;
  --wcs-blue: #69c7cb;
  --light-pink: #efa9ae;
  --light-blue: #a4dddf;
  --light-light-pink: #fff8f9;
  --light-light-blue: #f8fffe;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* WCS Branding Colors */
    --wcs-pink: #e2626a;
    --wcs-blue: #69c7cb;
    --light-pink: #efa9ae;
    --light-blue: #a4dddf;
    --light-light-pink: #fff8f9;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #ffd6d9;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  font-size: 48px;
  color: black;
}

h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  font-size: 32px;
  color: black;
}

h3 {
  font-family: 'Zilla Slab', serif;
  color: black;
  font-size: 30px;
  font-weight: normal;
}

h4 {
  font-family: 'Zilla Slab', serif;
  font-size: 25px;
  color: black;
}

h5 {
  font-family: 'Zilla Slab', serif;
  font-size: 16px;
  color: black;
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #21636c;
  margin-bottom: 0;
}

ul {
  color: black;
  margin-bottom: 1em;
  margin-top: 1em;
}

li {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: black;
  margin-bottom: 0px;
  margin-left: 2em;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  p,
  li {
    font-size: 18px;
  }
}

/* Mobile responsive font sizes */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  p,
  li {
    font-size: 16px;
  }
}
