.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 6rem;
  min-height: 100vh;
}

@media only screen and (max-width: 786px) {
  .main {
    padding: 2rem; /* New padding for mobile view */
  }
}

.title {
  text-align: center;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: var(--max-width);
  width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition:
    background 200ms,
    border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}

.sectionContainer {
  width: 80svw;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: -1.5rem;
  background-image: url("/assets/design-vectors/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.windowContainer {
  max-width: 825px;
}

.windowGrid {
  margin-top: 3rem;
  padding: 2rem 4rem;
  background-image: url("/assets/design-vectors/grid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .windowGrid {
    padding: 1rem;
    margin-top: 2rem;
  }
}

.windowImage {
  max-width: 100%;
  height: auto;
}

.upcomingEventSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .upcomingEventSection {
    margin-top: 2rem;
  }
}

.eventContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem 3rem;
  position: relative;
  width: fit-content;
  background-image: url("/assets/design-vectors/grid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .eventContainer {
    padding: 3.75rem;
  }
}

.eventText {
  text-align: center;
  max-width: 250px;
  margin-bottom: 1rem;
}

.noEvents {
  padding: 0.75rem;
  max-width: 20rem;
}

.stayInTouchSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.communicationLinks {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-content: center;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-top: 1.5rem;
  max-width: 60rem;
}

.linkOne {
  grid-row: 1;
  grid-column: 1 / 3;
}

.linkTwo {
  grid-row: 1;
  grid-column: 4 / 6;
}

.linkThree {
  grid-row: 2;
  grid-column: 2 / 4;
}

.linkFour {
  grid-row: 2;
  grid-column: 5 / 7;
}

.sponsorsSection {
  margin-top: 30px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  position: relative;
  width: fit-content;
  background-image: url("/assets/design-vectors/grid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sponsorCall {
  margin-top: 30px;
  align-self: center;
  text-align: center;
}

.sponsorEmail {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.sponsors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.modalSection {
  display: flex;
  flex-direction: column;
  background-color: #baa7ff;
  max-width: 500px;
  padding: 20px;
  border-radius: 30px;
  text-align: left;
  /* align-items: center; */
}

.modalSection h3 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: white;
}

.modalSection li {
  font-weight: 700;
  color: white;
}

.modalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.modalContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalButton {
  width: max-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #ffcee7;
  align-self: center;
}

@media only screen and (max-width: 767px) {
  .modalPhone {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .modalContainer {
    align-items: center;
    overflow-y: auto;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }

  .communicationLinks {
    display: flex;
    flex-direction: column;
  }

  .sponsorsSection {
    padding: 0.5rem 0.5rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .communicationLinks {
    display: flex;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
