.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-image: url("../../assets/design-vectors/grid.svg");
  background-size: 250%;
  width: fit-content;
  height: fit-content;
}

.key {
  padding: 0.5rem;
  background-image: url("../../assets/design-vectors/key.svg");
  background-size: cover;
  height: 4rem;
  aspect-ratio: 3.287;
  position: relative;
}

.content {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #734448;
}