.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-image: url("../../assets/design-vectors/grid.svg");
  background-size: 250%;
  width: fit-content;
  height: fit-content;
}

.keyContainerLeft {
  position: relative;
}

.keyContainerRight {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.keyContainerLeft::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 25px;
  background-image: url("../../assets/design-vectors/key_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.keyContainerRight::before {
  content: '';
  position: absolute;
  inset: 0 -5px 0 auto;
  width: 25px;
  background-image: url("../../assets/design-vectors/key_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.keyBody {
  margin: 0;
  padding: 0.5rem;
  background-image: url("../../assets/design-vectors/key_center.svg");
  background-size: contain;
}

.content {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #734448;
}