.th {
  border: 3px solid transparent;
  padding: 20% 5%;
  text-align: center;
  position: relative;
}

.tr {
  border-radius: 20px;
  border: 3px solid transparent;
  padding: 20% 5%;
  text-align: center;
  position: relative;
}


.td {
  border-radius: 20px;
  border: 3px solid transparent;
  width: fit-content;
  padding: 2% 5px;
  text-align: center;
  position: relative;  
  /* height: 130px; */
}

.openOfficeTimes {
  background-color: #C6F6F8;
  font-size: small;
  height: fit-content;
  padding: 0% 2%;
}

.openOfficeDay {
  background-color: #fbd5de;
  padding: 1%;
  border-radius: 20px;
}

.openOfficeCellContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* height: 100%; */
}

.openOfficeCell {
  text-align: center;
  background-color: #fcf7e6;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.openOfficeHighlight {
  background-color: #faddc8;
  border-radius: 20%;
}

.openOfficeName {
  font-size: small;
}

#openOfficeSpace {
  width: 10%;
}

/* styles.css file */
