.container {
  background-color: white;
  width: 373px;
  height: 650px;
  border-radius: 33px;
  border: 13px solid #baa7ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.container img {
  height: 778px;
}

.notch {
  width: 117px;
  height: 28px;
  border-radius: 63px;
  background-color: #baa7ff;
  margin-top: 12px;
  position: absolute;
}

.rectangle {
  width: 211px;
  height: 9px;
  border-radius: 63px;
  background-color: #baa7ff;
  margin-bottom: 12px;
  position: absolute;
  bottom: 0;
}
