.container {
  background-color: white;
  width: 1000px;
  min-height: 575px;
  height: fit-content;
  border-radius: 25px;
  border: 10px solid #ff7cc0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.container img {
  height: 475px;
}

.notch {
  width: 30px;
  height: 125px;
  border-radius: 63px;
  background-color: #ff7cc0;
  position: absolute;
}

.border {
  width: 1000px;
  min-height: 575px;
  background-color:#ffcee7;
  padding: 1rem;
}

.body {
  width: 100%;
  min-height: 543px;
  height: 100%;
  background-color: #ffe3f2;
}

.child {
  width: 100%;
}
