.container {
  background-color: white;
  width: 1000px;
  height: 575px;
  border-radius: 25px;
  border: 10px solid #baa7ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.container img {
  height: 475px;
}

.notch {
  width: 80px;
  height: 15px;
  border-radius: 63px;
  background-color: #baa7ff;
  margin-top: 12px;
  position: absolute;
}

.rectangle {
  width: 150px;
  height: 8px;
  border-radius: 63px;
  background-color: #baa7ff;
  margin-bottom: 12px;
  position: absolute;
  bottom: 0;
}
