.container {
  color: black;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container * {
  padding: 0;
  margin: 0;
}

.container h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dateTime p {
  font-weight: 400;
  color: #21636c;
}
