<footer>
    <div class="row">
        <div class="col-md-4">
            <p>Women in Computer Science</p>
            <p>1318 Siebel Center</p>
            <p>201 North Goodwin Avenue</p>
            <p>Urbana, IL 61801-2302</p>
        </div>
        <div class="col-md-4">
            <p>Contact us at:</p>
            <p>
                <b>
                    <a href="mailto:contact@illinoiswcs.org">contact@illinoiswcs.org</a>
                </b>
            </p>
            <p>
                <b>
                    <a href="http://illinoiswcs.us8.list-manage.com/subscribe?u=6f053b4b1cec0f29449538eff&id=65a43965f5">Mailing List</a></h4>
                </b>
            </p>
        </div>
        <div class="col-md-4">
            <ul id="socialMediaLinks" class="text-center">
                <li>
                    <a href="https://medium.com/@illinoiswcs">
                        <i class="fab fa-medium fa-4x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.facebook.com/illinoiswcs">
                        <i class="fab fa-facebook-square fa-4x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.twitter.com/illinoiswcs">
                        <i class="fab fa-twitter-square fa-4x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/groups?home=&gid=4473443">
                        <i class="fab fa-linkedin fa-4x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.instagram.com/illinoiswcs">
                        <i class="fab fa-instagram fa-4x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>