<nav class="navbar navbar-default navbar-fixed-top mainNav">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavbar">
                      <span class="sr-only">Toggle Navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
            <a class="navbar-brand" href="/">
                <img src="../assets/img/wcs/logo.png" class="img-responsive" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calendar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../calendar/index.html">Events</a></li>
                        <li><a href="../officehours/index.html">Office Hours</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../resources/wcscareer.html">Career</a></li>
                        <li><a href="../resources/technical.html">Technical</a></li>
                        <li><a href="../resources/gethelp.html">Get Help</a></li>
                    </ul>
                </li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../explorations/index.html">Explorations</a></li>
                        <li><a href="../mentoring/index.html">Mentoring</a></li>
                        <li><a href="../outreach/index.html">Outreach</a></li>
                    </ul>
                </li> -->
                <li><a href="../officers/index.html">Officers</a></li>
                <li>
                    <a 
                        href="http://points.illinoiswcs.org/"
                        target="_blank"
                    >
                        Points
                    </a>
                </li>
                <li>
                    <a 
                        href="https://script.google.com/a/macros/illinois.edu/s/AKfycbxKThX6ckc_i_2H1E3mA8s6qoNIbYfxLNCvXKwz02yJCUBBBrt6TDn4kg/exec"
                        target="_blank"
                    >
                        Resume Book
                    </a>
                </li>
                <li><a href="../sponsors/index.html">Sponsors</a></li>
                <!-- <li><a href="../alumni/index.html">Alumni</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Growth <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://go.illinoiswcs.org/growth-home" target="_blank">Home Page</a></li>
                        <li><a href="https://go.illinoiswcs.org/anonymous-feedback" target="_blank">Anonymous Feedback</a></li>
                        <li><a href="https://go.illinoiswcs.org/listen-and-learn" target="_blank">Listen & Learn</a></li>
                    </ul>
                </li>
                <li><a href="../contact/index.html">Contact</a></li>
                <!-- <li><a href="../explore/index.html">Explore CS</a></li> -->
            </ul>
        </div>
    </div>
</nav>