#chictech-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#chictech-container h5 a {
  text-decoration: underline;
  color: #68c7cb;
}

#chictech-schedule {
  max-width: 100%;
}

.panel {
  border: none;
}

p {
  font-size: 16px;
}

h5 {
  font-size: 24px;
}

.panel-title {
  font-size: 18px;
}
