html {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Mallanna", sans-serif;
  width: 100%;
  height: 100%;
}

table {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Oswald" !important;
  font-weight: 500;
  color: #e84c3d;
}

h2 {
  font-family: "Oswald" !important;
  font-weight: 400;
  color: #e84c3d;
}

h3 {
  font-family: "Oswald" !important;
  font-weight: 300;
  color: #e84c3d;
}

h4 {
  font-family: "Oswald" !important;
  color: #e84c3d;
}

h5 {
  font-family: "Oswald" !important;
  font-size: 1em;
  color: #e84c3d;
}

h6 {
  font-family: "Oswald" !important;
  color: black;
}

p {
  font-family: "Mallanna", sans-serif;
}

a {
  color: #e84c3d;
}

a:hover {
  color: #333333;
}

/* Navbar */
.nav {
  font-family: "Mallanna", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.navbar {
  background-color: white;
}

.navbar .container-fluid {
  padding: 0 50px;
}

.dropdown-menu li {
  padding: 3px 0px;
}

#social-media-links {
  display: block;
  padding-left: 0px;
}

#social-media-links li {
  display: inline;
  margin: 10px;
}

/* General */

.content-header {
  margin-top: 20px;
}

@media only screen and (max-width: 1336px) {
  .content-header {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 1147px) {
  .content-header {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 767px) {
  .content-header {
    margin-top: 40px;
  }
}

.bullet-point {
  width: 7px;
  height: 7px;
  margin-bottom: 2px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 50%;
}

.wcs-bg-pink {
  background-color: #f2777a;
}

.wcs-pink {
  color: #f2777a;
}

.wcs-bg-blue {
  background-color: #4aa9ad;
}

.wcs-blue {
  color: #4aa9ad;
}

.panel .panel-heading {
  border: none;
  background-color: #fff;
  border-color: #fff;
}

.btn {
  font-weight: bold;
}

.col-md-4 img {
  width: 100%;
}

footer {
  background-color: #e84c3d;
  color: white;
  padding: 3% 3% 3% 3%;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
}

#events-container {
  padding: 5%;
}

#events-container p {
  padding-top: 10px;
  font-size: 16px;
}

.events-subheading {
  padding-top: 10px;
  font-size: 19px;
}

.tabs-left>.nav-tabs {
  border-bottom: 0;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.tabs-left>.nav-tabs>li>a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
  margin-right: 30px;
  border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li>a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.custom-tabs>.nav-tabs {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.custom-tabs {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  min-height: 50vh;
  padding-bottom: 5%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}