.committees-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.committees-wrapper p {
  font-size: 15px;
}

.committees-card {
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;

  margin-top: 45px;

  background-color: white;
  background-clip: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.committees-card video {
  width: 300px;
  height: 188px;
}

.committees-card img {
  width: 300px;
  height: 188px;
  object-fit: cover;
}

.committees-card-body {
  flex: 1 1 auto;
  padding: 1rem;
  width: 300px;
}

.committees-card-text:last-child {
  margin-bottom: 0;
}

.committees-card-header {
  font-family: "Oswald" !important;
  color: #e84c3d;
  font-size: 18px;
  padding: 1rem;
  margin-bottom: 0;
  width: 300px;
}

.committees-card-subheader {
  margin-top: -0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.committees-card-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.committees-card-footer {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.125);
}

.committees-card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.committees-card-header-tabs .nav-link.active {
  background-color: rgba(255, 255, 255);
  border-bottom-color: rgba(255, 255, 255);
}

.committees-card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.committees-card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.committees-card-img {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.committees-card-img-top {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.committees-card-img-bottom {
  width: 100;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.committees-card-row-group {
  padding-top: 50px;
}

.committees-card-row {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
}

#committees {
  padding: 5% 5%;
  background-color: #f5f3ee;
}

#committees h1 {
  color: #e84c3d;
}

@media (max-width: 749px) {
  #officers {
    padding: 10% 5%;
  }
}

.committees-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.committees-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.committees-info {
  cursor: pointer;
  width: fit-content;
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.committees-info img {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: white solid 5px;
}

.label-default {
  background-color: #e26269;
  white-space: initial;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.label-primary {
  background-color: #68c7cb;
  white-space: normal;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.modal-body .row {
  display: flex;
}

.modal-body .col-md-6 {
  flex: 1;
  padding: 1em;
}
