#contact {
  display: block;
  padding: 5% 5%;
  color: #e84c3d;
  background-color: #f5f3ee;
}

#contact .form-control {
  font-family: "Mallanna", sans-serif;
}

#contact .label {
  font-family: "Mallanna", sans-serif;
}

#contact .btn-primary {
  background-color: #e84c3d;
  border-color: #e84c3d;
  color: #fff;
}

#contact .btn-primary:hover {
  background-color: #e84c3d;
  color: #f5f3ee;
}

#contact .contact-form {
  padding-top: 5%;
}

@media (max-width: 749px) {
  #contact {
    padding: 10%;
  }
}