#explore {
  margin-top: 70px;
}

.explore-content {
  margin: 40px 20px 40px 70px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.monthly-content {
  font-size: 16px;
  margin: 40px 70px;
}

.monthly-content .intro {
  margin-bottom: 50px;
}

.explore-content .intro-text {
  margin-right: 80px;
}

.explore-content .intro-text p {
  margin-bottom: 20px;
}

.session {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 60px;
}

.faculty {
  margin-right: 40px;
}

.faculty .description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.faculty .name {
  font-size: 23px;
  font-weight: bold;
}

.explore-flyer {
  width: 350px;
  height: 450px;
}

.faculty-image img {
  width: 250px;
}

.image-gang {
  margin-top: 70px;
}