#main-carousel {
  position: relative;
}

.carousel-image-styling {
  height: 500px !important;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) { 
  .main-heading-container {
    display:none;
  }
}

.main-heading-container {
  width: 755px;
  position: absolute;
  text-align: justify;
  background-color: black;
  top: 78%;
  left: 26.5%;
  bottom: 25%;
  right: 75%;
  opacity: 0.8;
  margin-top: -50px;
  margin-left: -50px;
  height: 100px;
}

.main-heading {
  font-size: 45px;
  color: white;
  text-align: center;
  top: 50%;
  left: 12%;
  bottom: 12%;
  right: 50%;
}

.home-content {
  padding: 5% 10% 7% 10%;
}

.home-content .carousel-img {
  width: 100%;
  height: 400px !important;
}

.wcs-welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.wcs-welcome .header {
  margin-bottom: 30px;
  width: 80%;
  margin-right: 5%;
}

.wcs-welcome p {
  font-size: 16px;
}

.member-subheaders {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 3%;
}

#members h1 {
  color: #e84c3d;
  margin-bottom: 3%;
}

#members p {
  margin-bottom: 7%;
  margin-left: 7%;
  margin-right: 7%;
  font-size: 1.28em;
  text-align: center;
}