#officers {
  padding: 5% 5%;
  background-color: #f5f3ee;
}

#officers h1 {
  color: #e84c3d;
}

@media (max-width: 749px) {
  #officers {
    padding: 10% 5%;
  }
}

.officer-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.officer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.officer-info {
  cursor: pointer;
  width: fit-content;
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.officer-info img {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: white solid 5px;
}

.label-default {
  background-color: #e26269;
  white-space: initial;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.label-primary {
  background-color: #68c7cb;
  white-space: normal;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.modal-body .row {
  display: flex;
}

.modal-body .col-md-6 {
  flex: 1;
  padding: 1em;
}