th,
tr {
  border-radius: 20px;
  border: 3px solid white;
  padding: 10%;
  text-align: center;
  position: relative;
}

td {
  border-radius: 20px;
  border: 3px solid white;
  padding: 10%;
  text-align: center;
  position: relative;
  height: 130px;
}

#open-office-heading {
  text-align: center;
  padding-bottom: 2rem;
  margin-top: 10%;

}

#open-office-subheading {
  margin: 1% auto;
  width: 80%;
  font-size: 16px;
  @media (max-width: 768px) {
    text-align: center;
  }
}

.open-office-day {
  background-color: #fbd5de;
  width: 18%;
}

.open-office-cell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.open-office-cell {
  text-align: center;
  background-color: #fff7d8;
}

.open-office-highlight {
  background-color: #faddc8;
  border-radius: 20%;
}

#open-office-space {
  width: 10%;
}

#week-indication {
  margin: 5% auto;
  width: 80%;
  font-size: 16px;
  @media (max-width: 768px) {
    text-align: center;
  }
}

#openoffice {
  padding: 5% 5%;
  display: block;
}

#open-office-width {
  /* width: 100%; */
  overflow-x: auto;
}