#resources {
  display: block;
  padding: 5% 5%;
}

.resource-header.content-header {
  padding-bottom: 2rem;
}

.wcs-career-list {
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.resources-page {
  font-size: 16px;
}

.panel {
  border: none;
}

#career-services .panel-heading {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #eeeeee;
  color: inherit;
}