#sponsors {
  display: block;
  padding: 5% 5%;
  color: #e84c3d;
}

#sponsors .button {
  width: 530px;
  background-color: #e84c3d;
  color: white;
}

.tiers-image-style {
  height: 550px;
  width: 100%;
}

#sponsors .dropdown-view {
  width: 100%;
  font-size: 20px;
  display: inline-block;
}

@media screen and (max-width: 700px) {
  #sponsors .button {
    /* display: none; */
    width: 440px;
    background-color: #e84c3d;
    color: white;
  }

}

#sponsors .sponsor-call {
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1.5%;
  font-size: 1.28em;
  color: #333333;
}

#sponsors .sponsor-dropdown {
  text-align: center;
}

#sponsors .sponsor-benefits .color-indicator {
  font-size: 20px;
  text-align: center;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  font-weight: bolder;
}

#sponsors .sponsor-benefits .platinum {
  color: #337ab7;
  text-align: center;
}

#sponsors .sponsor-benefits .black {
  color: black;
  text-align: center;
}

#sponsors .sponsor-benefits .gold {
  color: #f0ad4e;
  text-align: center;
}

#sponsors .sponsor-benefits .silver {
  color: #808080;
  text-align: center;
}

#sponsors .sponsor-benefits .bronze {
  color: #d9534f;
  text-align: center;
}

#sponsors .sponsor-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sponsors .sponsor-level .level-indicator {
  width: 100%;
  display: block;
  font-weight: bold;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
}

#sponsors .sponsor-level .platinum {
  background-color: #337ab7;
  border-color: #2e6da4;
}

#sponsors .sponsor-level .gold {
  background-color: #f0ad4e;
  border-color: #eea236;
}

#sponsors .sponsor-level .silver {
  background-color: #c0c0c0;
}

#sponsors .sponsor-level .bronze {
  background-color: #d9534f;
  border-color: #d43f3a;
}

#sponsors .sponsor-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 200px;
}

.sponsor-image img {
  width: 100%;
}

#sponsors .sponsor-detail {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin: 20px;
}

/* tiers dropdown button */
.dropbtn {
  background-color: #e84c3d;
  color: white;
  font-size: 16px;
  border-color: gray;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}