/* Main Components */
html {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%; }

h1 {
  font-family: "Lobster", cursive !important;
  font-weight: 500 !important;
  font-size: 5em !important;
  letter-spacing: 2px; }

h2 {
  font-family: "Lobster", cursive !important;
  font-weight: 400 !important;
  font-size: 3em !important;
  letter-spacing: 2px; }

h4 {
  font-family: "Lobster", cursive !important;
  font-size: 2em !important; }

p {
  font-family: "Open Sans", sans-serif; }

.padded {
  padding: 2.5% 0 5% 0; }

#socialMediaLinks {
  display: block;
  padding-left: 0px; }
  #socialMediaLinks li {
    display: inline;
    margin: 10px; }

.btnContainer button {
  color: #555; }
  .btnContainer button:hover {
    color: #000;
    background-color: #999; }

.center, .overlay, #members .btnContainer, #officers, #featuredAlumni .alumniImage, #featuredAlumni .alumniText {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

a {
  color: #7d1935; }
  a:hover {
    color: #999; }

.navbar-brand img {
  height: 35px;
  padding: 0px;
  margin: -12px; }

.navbar {
  background-color: #f8f8f8;
  opacity: 0.8; }
  .navbar .container-fluid {
    padding: 0 10% 0 10%; }

.nav {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase; }

@media (min-width: 767px) {
  .mainNav {
    padding: 20px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }
  .top-nav-collapse {
    padding: 0; } }

/* Individual Divs */
.carousel {
  height: 100%; }

.carousel-inner {
  height: 100%; }
  .carousel-inner .item {
    opacity: 0.6;
    transition-property: opacity;
    width: 100% !important;
    min-height: 100% !important;
    overflow: hidden;
    height: 100%; }
    .carousel-inner .item img {
      position: relative;
      overflow: hidden;
      height: 100%; }
  .carousel-inner .active {
    opacity: 0.75;
    height: 100%; }

.container {
  text-align: center;
  overflow: hidden; }

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover; }

.overlay {
  position: absolute;
  z-index: 100;
  top: calc(50% - 1.5em);
  width: 100%; }

#home {
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
  height: 1000px; }
  #home h1 {
    color: #fff; }

#officerCarousel {
  background-image: url(../img/slideshow/allofficers.jpg); }

#chictechCarousel {
  background-image: url(../img/slideshow/chictech.jpg); }

#banquetCarousel {
  background-image: url(../img/slideshow/banquet.jpg); }

#splashCarousel {
  background-image: url(../img/slideshow/splash.jpg); }

#banquet2Carousel {
  background-image: url(../img/slideshow/banquet2.jpg); }

#about h1, #about p {
  color: #7d1935; }

#about p {
  font-size: 1.3em;
  line-height: 150%; }

#members {
  background-color: #f5f3ee; }
  #members .btnContainer {
    margin-bottom: 10px; }
  #members a {
    cursor: default;
    /* TEMPORARY */ }

.memberImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  text-align: center;
  vertical-align: center;
  min-height: 50vh !important;
  padding: -15 !important; }
  .memberImage p {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    visibility: hidden; }

#techTeam {
  background-image: url("../img/members/techteam.jpg"); }
  #techTeam:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/members/techteam.jpg"); }

#mentoring {
  background-image: url("../img/members/mentoring.jpg"); }
  #mentoring:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/members/mentoring.jpg"); }

#outreach {
  background-image: url("../img/members/outreach.jpg"); }
  #outreach:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/members/outreach.jpg"); }

#memberportal {
  background-image: url("../img/members/memberportal.jpg"); }
  #memberportal:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/members/memberportal.jpg"); }

#events {
  margin-top: 50px; }
  #events iframe {
    width: 100%; }

.sponsors-row {
  padding-bottom: 2%; }
  .sponsors-row .sponsor-small {
    vertical-align: center;
    width: 100%; }
  .sponsors-row #rockwell {
    padding-top: 15px; }

#sponsors {
  color: #7d1935; }
  #sponsors p {
    font-size: 1.3em;
    line-height: 150%; }
  #sponsors a {
    color: #000; }

#officers {
  background-image: url("../img/wcs/newofficers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  width: 100% !important;
  height: 100vh !important;
  min-height: 100vh !important;
  min-width: 100% !important; }

.officerPicture {
  width: 100%;
  height: auto; }

#meetOfficers {
  padding-top: 5%; }

#alumni {
  background-color: #f5f3ee; }
  #alumni p {
    font-size: 1.3em;
    line-height: 150%; }

#featuredAlumni {
  margin-bottom: 10px; }
  #featuredAlumni .col-md-4 img {
    width: 100%; }

#contact {
  color: #7d1935; }
  #contact .form-control {
    font-family: "Open Sans", sans-serif; }
  #contact .label {
    font-family: "Open Sans", sans-serif; }
  #contact .btn-primary {
    background-color: #7d1935;
    border-color: #7d1935;
    color: #fff; }
    #contact .btn-primary:hover {
      background-color: #7d1935;
      color: #f5f3ee; }

footer {
  background-color: #f5f3ee;
  padding: 5% 10% 5% 10%; }
  footer p {
    margin: 0;
    font-size: 1.3em;
    line-height: 150%; }
