/* Main Components */
html {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden;
  font-family: "Mallanna", sans-serif;
  width: 100%;
  height: 100%; }

h1 {
  font-family: "Oswald" !important;
  font-weight: 500;
  font-size: 4em;
  color: #c0392b; }

h2 {
  font-family: "Oswald" !important;
  font-weight: 400;
  font-size: 3em; }

h3 {
  font-family: "Oswald" !important; }

h4 {
  font-family: "Oswald" !important;
  font-size: 2em; }

h5 {
  font-family: "Oswald" !important;
  font-size: 1em; }

p {
  font-family: Lato, "Lato"; }

.padded {
  padding: 2.5% 0 5% 0; }

#socialMediaLinks {
  display: block;
  padding-left: 0px; }
  #socialMediaLinks li {
    display: inline;
    margin: 10px; }

.btnContainer button {
  color: #555; }
  .btnContainer button:hover {
    color: #000;
    background-color: #999; }

.center, #members .btnContainer, #outreachMain {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

a {
  color: #c0392b; }
  a:hover {
    color: #999; }

.navbar-brand {
  padding: 5px; }
  .navbar-brand img {
    height: 100%;
    width: auto; }

.navbar {
  background-color: white; }
  .navbar .container-fluid {
    padding: 0 10% 0 10%; }

.nav {
  font-family: "Mallanna", sans-serif;
  text-transform: uppercase; }

/* Individual Divs */
#home {
  padding: 5% 0 5% 0;
  background: url("../img/wcs/officers.jpg") no-repeat center center; }
  #home .home-header-container {
    width: 100%;
    padding: 2%;
    text-align: center; }
    #home .home-header-container .home-header {
      font-size: 10em;
      color: white; }
    #home .home-header-container .home-subheader {
      margin: 5px;
      color: white; }

@media only screen and (max-width: 1200px) {
  #home {
    padding: 15% 0 5% 0;
    text-align: center; }
    #home .home-image-container {
      width: 100%; }
    #home .home-header-container {
      width: 100%; }
      #home .home-header-container .home-subheader {
        margin: 5px;
        color: white; } }

.about-image {
  display: block;
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto; }

.memberImage {
  margin-bottom: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  text-align: center;
  vertical-align: center;
  min-height: 10vh !important; }
  .memberImage p {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%); }

.quickLinks {
  margin-bottom: 2%;
  margin-top: 3%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  text-align: center;
  vertical-align: center;
  min-height: 5vh !important; }
  .quickLinks p {
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%); }

#members {
  padding: 2%;
  padding: 5%; }
  #members h1 {
    color: #c0392b;
    margin-bottom: 3%; }
  #members p {
    font-size: 1.1em;
    line-height: 150%;
    margin-bottom: 10%; }
  #members .btnContainer {
    margin-bottom: 10px; }

.resource-header {
  padding-bottom: 5%; }

.panel {
  border: none; }
  .panel .panel-heading {
    border: none;
    background-color: #fff;
    border-color: #fff; }

.iframeOutside {
  text-align: center; }

#events {
  margin-top: 50px; }
  #events iframe {
    width: 100%; }

.member-map {
  height: 400px;
  width: 100%; }

.member-links {
  padding-top: 2%;
  list-style-type: none;
  text-align: center; }

.member-links > li {
  display: list-item; }

.member-button {
  font-size: large; }

.member-subheaders {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%; }

.btn {
  font-weight: bold; }

#techTeam {
  background-image: url("../img/members/techteam.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/members/techteam.jpg"); }

#mentoring {
  background-image: url("../img/members/mentoring.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/members/mentoring.jpg"); }

#outreach {
  background-image: url("../img/members/outreach.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/members/outreach.jpg"); }

.col-md-4 img {
  width: 100%; }

#sponsors {
  display: block;
  padding: 5% 5%;
  color: #c0392b; }
  #sponsors .list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; }
  #sponsors .list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 100%;
    margin-top: 5%; }
  #sponsors .list-item-link {
    position: relative; }
  #sponsors .list-item-image {
    top: 50%;
    width: auto;
    max-width: 100%;
    max-height: 200px; }
  @media all and (min-width: 40em) {
    #sponsors .list-item {
      width: 50%; } }
  @media all and (min-width: 60em) {
    #sponsors .list-item {
      width: 20%;
      padding: 2%; } }
  @media all and (max-width: 40em) {
    #sponsors .list-item {
      width: 50%; } }

#officers {
  padding: 5% 5%;
  background-color: #f5f3ee; }
  #officers h1 {
    color: #c0392b;
    margin-bottom: 5%; }

.officerPicture {
  width: 100%;
  height: auto; }

.officer-box {
  border: 0;
  cursor: pointer; }

#outreachMain {
  background-image: url("../img/wcs/chictech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  width: 100% !important;
  height: 100vh !important;
  min-height: 100vh !important;
  min-width: 100% !important;
  opacity: 0.75; }
  #outreachMain h1 {
    color: #fff; }

.panel {
  border: none; }
  .panel .panel-heading {
    border: none;
    background-color: #fff;
    border-color: #fff; }

#alumni p {
  font-size: 1.1em;
  line-height: 150%; }

#featuredAlumni {
  padding: 5% 10%; }
  #featuredAlumni .alumniPicture {
    height: auto;
    width: 100%; }

#contact {
  color: #c0392b;
  background-color: #f5f3ee; }
  #contact .form-control {
    font-family: "Mallanna", sans-serif; }
  #contact .label {
    font-family: "Mallanna", sans-serif; }
  #contact .btn-primary {
    background-color: #c0392b;
    border-color: #c0392b;
    color: #fff; }
    #contact .btn-primary:hover {
      background-color: #c0392b;
      color: #f5f3ee; }
  #contact .contact-form {
    padding-top: 5%; }
  @media (max-width: 749px) {
    #contact {
      padding: 5%; } }

footer {
  background-color: #c0392b;
  color: white;
  padding: 3% 3% 3% 3%;
  text-align: center; }
  footer p {
    margin: 0;
    font-size: 1.1em;
    line-height: 150%; }
  footer a {
    color: white; }
