.prisha-container {
    background-color: #f0f0f0; 
    padding: 30px; 
    border-radius: 3px; 
    text-align: center; 
}

.prisha-image {
    width: 180px; 
    border-radius: 75px; 
    margin-bottom: 15px; 
}
