.flipCard {
  background: none;
  border: none;
  perspective: 1000px;
  width: 180px;
  height: 271px;
  cursor: pointer;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(-180deg);
}

.flipCardFront,
.flipCardBack {
  background: white;
  width: 180px;
  height: 271px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 5px;
  gap: 10px;
  border: 7px solid var(--wcs-pink);
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
}

.flipCardBack {
  transform: rotateY(180deg);
}

.img {
  border: 6px solid var(--wcs-blue);
  border-radius: 100%;
  height: 130px;
  width: 130px;
  min-width: 130px;
  min-height: 130px;
  object-fit: cover;
  margin-top: 10px;
}

.name {
  color: var(--wcs-pink);
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  position: relative;
  transition: text-shadow 250ms ease;
  --behind-shadow:
    -0.0625em 0.0625em rgb(240 56 165), -0.125em 0.125em rgb(243 156 35),
    -0.1875em 0.1875em rgb(254 100 54);
  --front-shadow-light:
    0.1875em -0.1875em rgb(224 229 92), 0.125em -0.125em rgb(50, 206, 123),
    0.0625em -0.0625em rgb(44, 175, 187);
}

.name:hover {
  text-shadow: var(--behind-shadow);
}

.name::before {
  content: 'Becky Blake';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: transparent;
  transition: text-shadow 250ms ease;
}

.name:hover::before {
  text-shadow: var(--front-shadow-light);
}

.funFact {
  color: #6dc7cc;
  position: relative;
  opacity: 0.7;
  float: middle;
  place-items: center;
  margin: 0;
}
