.ENcontainer {
  background: var(--wcs-blue);
  width: 180px;
  height: 271px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  gap: 10px;
  cursor: pointer;
  border: 7px solid var(--wcs-pink);
}

.ENcontainer:hover {
  background-color: var(--light-blue);
  border: 2px solid var(--light-pink);
  border-width: 7px;
  font-weight: bold;
  color: #f5f5f5;
  cursor: pointer;
  box-shadow: 2px 2px 2px var(--light-pink);
}

.ENimg {
  border: 6px solid var(--wcs-pink);
  border-radius: 100%;
  height: 130px;
  width: 130px;
  min-width: 130px;
  min-height: 130px;
  object-fit: cover;
  margin-top: 10px;
}

.ENname {
  color: var(--wcs-pink);
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.ENposition {
  color: purple;
  position: relative;
  opacity: 0.7;
  float: middle;
  font-size: 16px;
  place-items: center;
  margin: 0;
}

.ENnamePosition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}
